* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

@keyframes downToUp {
    from {
        transform: translateY(50px);
        filter: opacity(0);
    }

    to {
        transform: translateY(0px);
        filter: opacity(1);
    }
}
@keyframes breathingButton {
    from{

    }
    to{
       box-shadow: 0px 0px 15px white, 
                   0px 0px 10px white;  
    }
}

nav {
    display: flex;
    margin: 1em;
    padding: 1.3em;
    margin-left: 7em;
    margin-right: 7em;
    background-color: rgba(128, 128, 128, 0.414);
    border-radius: 50px;
    border: 2px solid grey;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 20px white;
}

nav div ul {
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    gap: 4vw;
    list-style: none;
}

nav div ul li {
    transition: 0.3s;
}

nav div ul li:hover {
    transition: 0.3s;
    cursor: pointer;
    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 15px white;
}

.down {
    filter: brightness(0) invert(1);
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.introductory {
    color: white;
}

.introductory {
    display: flex;
    font-family: "Archivo Black", sans-serif;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 3em;
    animation: downToUp 0.5s;
}

.Me {
    transition: 0.5s;
    width: 10vw;
    height: auto;
    border-radius: 200px;
}

.Hi,
.this {
    font-size: 1.8em;
}

.name {
    font-size: 3.8em;
   color: #32CD32;
}

.about {
    font-size: 1em;
}

.connection_header {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    margin-left: 10px;
    transform: translateY(50px);
    filter: opacity(0);
    animation: downToUp 0.5s linear 0.5s forwards;
}

.linkIcon {
    filter: brightness(0) invert(1);
}

.Me:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(0.9);
    border: 6px solid gray;
}

.card {
    transition: 0.1s;
    width: 250px;
    height: 180px;
    background: rgba(128, 128, 128, 0.34);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card:hover {
    transition: 0.1s;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px white;
}

.connectionCards {
    display: flex;
    transform: translateY(50px);
    filter: opacity(0);
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
    animation: downToUp 0.5s linear 1s forwards;
}

.ConnectIcons {
    width: 20%;
    height: 30%;
}

.connectTxt {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;
}
.username{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.7em;
}
.HireMe, .SeeProjects{
    transition: 0.1s;
    width: 10vw;
    height: 40px;
    font-size: 1.2em;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px;
    animation: breathingButton 1s ease-in-out 0s infinite alternate;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 900;
}
.HireMe:hover, .SeeProjects:hover{
    transition: 0.1s;
    cursor: pointer;
    transform: scale(1.05);
}
.SeeProjects{
    background-color: transparent;
    border: 1px solid #32CD32;
}
.LogIn, .SignUp{
    transition: 0.1s;
    width: 6vw;
    font-size: 1em;
    font-weight: 900;
    height: 34px;
    margin: 0;
    border-radius: 20px;
    background-color: #32CD32;
    font-family: "Josefin Sans", sans-serif;
    color: white;
}
.SignUp{
    background-color: black;
    border: none;
}
.NavItems{
    display: flex;
    gap: 20%;
}
.buttonContainer{
    display: flex;
    gap: 5px;
}
.btn:hover{
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.05);
}
